<nav class="navbar sticky-top navbar-expand-lg navbar-light px-4 py-2"> 
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag "logolong.png", height: 40 %>
    <% end %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#about">Qui suis-je ?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#presentation">A Propos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#services">Accompagnements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#feedbacks">Témoignages</a>
      </li>
    </ul>

    <div class="navbar-text">
     <%= link_to "https://www.instagram.com/enbarque_orientation/", target: :_blank do %>
      <i class="fab fa-instagram mr-2"></i>
      <% end %>
      <%= link_to "https://www.facebook.com/enbarqueorientation/", target: :_blank do %>
      <i class="fab fa-facebook mr-2"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/company/enbarque-orientation/", target: :_blank do %>
      <i class="fab fa-linkedin"></i>
      <% end %>
    </div>
  </div>
</nav>
